<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wang.tyrael.learnandroid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".LearnApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.layout.LinearLayoutActivity"></activity>
        <activity android:name=".view.ViewVisibilityActivity" />
        <activity android:name=".view.layout.TableLayoutActivity" />
        <activity android:name=".view.layout.RelativeLayoutActivity" />
        <activity android:name=".view.MinXxxActivity" />
        <activity android:name=".view.popupwindow.PopupLocationActivity" />
        <activity
            android:name=".view.background.LearnBackgroundActivity"
            android:theme="@style/LearnBackgoundRed" />
        <activity android:name=".view.TextViewActivity" />
        <activity android:name=".view.edittext.NoImeEditTextActivity" />
        <activity android:name=".view.layout.CenterWithoutOverlapActivity" />
        <activity android:name=".view.systemalert.LearnSystemAlertActivity" />
        <activity android:name=".view.toast.ToastActivity" />
        <activity android:name=".view.layout.GridLayoutActivity" />
        <activity android:name=".view.ImageViewActivity" />
        <activity android:name=".view.recyclerview.RecyclerViewGridLayoutActivity" />
        <activity android:name=".view.layout.ConstraintLayoutActivity" />
        <activity android:name=".view.ListViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StorageFillerActivity"
            android:label="StorageFillerActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>